/*------ Common Utilities [ Scope: Entire application ] -------*/

body {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  background: #e8e7e4;
}

p {
  margin-bottom: 0px;
}

a {
  color: #1e52a4;
}

a:hover,
a:focus {
  text-decoration: none;
}

.append_bottom3 {
  margin-bottom: 3px;
}

.append_bottom4 {
  margin-bottom: 4px;
}

.append_bottom5 {
  margin-bottom: 5px;
}

.append_bottom6 {
  margin-bottom: 6px;
}

.append_bottom7 {
  margin-bottom: 7px;
}

.append_bottom8 {
  margin-bottom: 8px;
}

.append_bottom9 {
  margin-bottom: 9px;
}

.append_bottom10 {
  margin-bottom: 10px;
}

.append_bottom11 {
  margin-bottom: 11px;
}

.append_bottom12 {
  margin-bottom: 12px;
}

.append_bottom13 {
  margin-bottom: 13px;
}

.append_bottom14 {
  margin-bottom: 14px;
}

.append_bottom15 {
  margin-bottom: 15px;
}

.append_bottom16 {
  margin-bottom: 16px;
}

.append_bottom17 {
  margin-bottom: 17px;
}

.append_bottom18 {
  margin-bottom: 18px;
}

.append_bottom19 {
  margin-bottom: 19px;
}

.append_bottom20 {
  margin-bottom: 20px;
}

.make_relative {
  position: relative;
}

.make_block {
  display: inline-block;
}

.block {
  display: block;
}

.inlineB {
  display: inline-block;
}

.marL5 {
  margin-left: 5px;
}

.marR5 {
  margin-right: 5px !important;
}

.marR8 {
  margin-right: 8px!important;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.red_text {
  color: #cb3904;
}

.section_box {
  background: #fff;
  border: solid 1px #d4d4d4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 10px;
}

.light_gray {
  color: #838383;
}

.input-lg,
.input-md {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.general_promo_bar {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: #fff9d2;
  color: #626262;
  padding: 8px 10px;
}

/*--- embedded font's on the page ---*/

@font-face {
  font-family: 'RobotoRegular';
  src: url("../fonts/roboto/Roboto-Regular-webfont.eot");
  src: url("../fonts/roboto/Roboto-Regular-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/roboto/Roboto-Regular-webfont.woff") format('woff'), url("../fonts/roboto/Roboto-Regular-webfont.ttf") format('truetype'), url("../fonts/roboto/Roboto-Regular-webfont.svg#RobotoRegular") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoThin';
  src: url("../fonts/roboto/Roboto-Thin-webfont.eot");
  src: url("../fonts/roboto/Roboto-Thin-webfont.eot?#iefix") format('embedded-opentype'),
         url("../fonts/roboto/Roboto-Thin-webfont.woff") format('woff'), url("../fonts/roboto/Roboto-Thin-webfont.ttf") format('truetype'),url("../fonts/roboto/Roboto-Thin-webfont.svg#RobotoThin") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoLight';
  src: url("../fonts/roboto/Roboto-Light-webfont.eot");
  src: url("../fonts/roboto/Roboto-Light-webfont.eot?#iefix") format('embedded-opentype'),
         url("../fonts/roboto/Roboto-Light-webfont.woff") format('woff'), url("../fonts/roboto/Roboto-Light-webfont.ttf") format('truetype'), url("../fonts/roboto/Roboto-Light-webfont.svg#RobotoLight") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'webRupee';
  src: url("../fonts/webrupee/WebRupee.V2.0.eot");
  src: url("../fonts/webrupee/WebRupee.V2.0.eot?#iefix") format('embedded-opentype'),
         url("../fonts/webrupee/WebRupee.V2.0.woff") format('woff'), url("../fonts/webrupee/WebRupee.V2.0.ttf") format('truetype'),
         url("../fonts/webrupee/WebRupee.V2.0.svg#RobotoLight") format('svg');
  font-weight: normal;
  font-style: normal;
}

.INR {
  font-family: 'webRupee';
}

.RobotoThin {
  font-family: 'RobotoThin', Arial, Helvetica, sans-serif;
}

.RobotoRegular {
  font-family: 'RobotoRegular', Arial, Helvetica, sans-serif;
}

.RobotoLight {
  font-family: 'RobotoLight',Arial, Helvetica, sans-serif;
}

/* class: .btn-primary-red,  color theme: View over the town */

.btn-primary-red {
  color: #fff;
  background-color: #cb3904;
  border: solid 1px #b93404;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

.btn-primary-red:hover,
.btn-primary-red:active,
.btn-primary-red.active,
.btn-primary-red.disabled,
.btn-primary-red[disabled] {
  background-color: #cb3904;
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.30);
}

.btn-primary-red:hover {
  color: #fff;
  background-color: #d83d05;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.30);
}

.btn-primary-red:focus {
  color: #ffb799;
  background-color: #cb3904;
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.30);
  border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
}

.btn-primary-red.active,
.btn-primary-red:active {
  background-image: none;
  color: #fff;
}

.btn-secondary {
  color: #fff;
  background-color: #595959;
  border: solid 1px #4f4d4a;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary.active,
.btn-secondary.disabled,
.btn-secondary[disabled] {
  background-color: #676767;
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.30);
}

.btn-secondary:hover {
  color: #fff;
  background-color: #676767;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.30);
}

.btn-secondary:focus {
  color: #fff;
  background-color: #595959;
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.30);
  border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
}

.btn-primary-red.active,
.btn-primary-red:active {
  background-image: none;
  color: #fff;
}

/* Landscape phone to portrait tablet [ Mark: *XS STB & SM * ] */

@media (max-width:991px) {
  .btn-primary-red,
  .btn-secondary {
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.30);
  }

  .btn-primary-red:hover,
  .btn-secondary:hover {
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.30);
  }
}

/* end .btn-primary-red */

a.loading,
input.loading,
button.loading,
a.loading:active,
input.loading:active,
button.loading:active {
  background-image: -webkit-linear-gradient(-45deg,rgba(255,255,255,0.3) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.3) 50%,rgba(255,255,255,0.3) 75%,transparent 75%,transparent);
  background-image: -moz-linear-gradient(-45deg,rgba(255,255,255,0.3) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.4) 50%,rgba(255,255,255,0.4) 75%,transparent 75%,transparent);
  background-image: linear-gradient(-45deg,rgba(255,255,255,0.3) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.3) 50%,rgba(255,255,255,0.3) 75%,transparent 75%,transparent);
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  -webkit-background-size: 50px 50px;
  background-size: 50px 50px;
  -moz-animation: loading-stripes 2s infinite linear;
  -webkit-animation: loading-stripes 2s infinite linear;
  -o-animation: loading-stripes 2s infinite linear;
  -ms-animation: loading-stripes 2s infinite linear;
  animation: loading-stripes 2s infinite linear;
  cursor: default;
  box-shadow: none;
}

@-webkit-keyframes loading-stripes {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 50px 0;
  }
}

@-moz-keyframes loading-stripes {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 50px 0;
  }
}

a.loading:disabled,
input.loading:disabled,
button.loading:disabled,
a.loading[disabled="disabled"],
input.loading[disabled="disabled"],
button.loading[disabled="disabled"] {
  cursor: default;
  opacity: 0.5;
}

/*---- Default star & Rated star settings ----*/

span.onestar,
span.twostar,
span.threestar,
span.fourstar,
span.fivestar {
  background-position: 0 -62px;
  height: 14px;
  float: left;
}

span.default_star {
  background-position: 0 -76px;
  width: 70px;
  height: 14px;
}

span.onestar {
  width: 14px;
}

span.twostar {
  width: 27px;
}

span.threestar {
  width: 40px;
}

span.fourstar {
  width: 53px;
}

span.fivestar {
  width: 70px;
}

.shadow_genrator {
  -moz-box-shadow: 0 0 3px rgba(0,0,0,.1);
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,.1);
  box-shadow: 0 0 3px rgba(0,0,0,.1);
}

.shadow_genrator_1 {
  border-style: solid;
  border-color: #d8d8d8;
  border-width: 1px 1px 2px 1px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

.fontSize11 {
  font-size: 11px;
}

.noWrap {
  white-space: nowrap;
}

/*----- Reduce "Container & Row" Space for [ Mobile ] ------*/

@media (max-width:767px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .row {
    margin-left: -10px;
    margin-right: -10px;
  }

  .col-xs-1,
  .col-sm-1,
  .col-md-1,
  .col-lg-1,
  .col-xs-2,
  .col-sm-2,
  .col-md-2,
  .col-lg-2,
  .col-xs-3,
  .col-sm-3,
  .col-md-3,
  .col-lg-3,
  .col-xs-4,
  .col-sm-4,
  .col-md-4,
  .col-lg-4,
  .col-xs-5,
  .col-sm-5,
  .col-md-5,
  .col-lg-5,
  .col-xs-6,
  .col-sm-6,
  .col-md-6,
  .col-lg-6,
  .col-xs-7,
  .col-sm-7,
  .col-md-7,
  .col-lg-7,
  .col-xs-8,
  .col-sm-8,
  .col-md-8,
  .col-lg-8,
  .col-xs-9,
  .col-sm-9,
  .col-md-9,
  .col-lg-9,
  .col-xs-10,
  .col-sm-10,
  .col-md-10,
  .col-lg-10,
  .col-xs-11,
  .col-sm-11,
  .col-md-11,
  .col-lg-11,
  .col-xs-12,
  .col-sm-12,
  .col-md-12,
  .col-lg-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width:992px) and (max-width:1380px) {
  .main {
    border-left: 1px solid #f2f2f2;
  }
}

/*---- Middle ware Solutions.. [ Specially for SMALL Tablet [ Like: Micromax, Nexus, Samsung Tab-3]  ]  ----*/

@media (min-width:590px) and (max-width:767px) {
  /*------- General grid changes --------*/

  .container {
    width: 570px;
  }

  .hidden-xs {
    display: none !important;
  }

  tr.hidden-xs {
    display: table-row !important;
  }

  th.hidden-xs,
  td.hidden-xs {
    display: table-cell !important;
  }

  .hidden-stb {
    display: none !important;
  }

  .visible-stb {
    display: block !important;
  }

  .logo_section {
    width: 70px;
  }

  .time_info {
    width: 105px;
  }

  .duratn.hidden-xs,
  .next_icon.hidden-xs {
    display: block !important;
    float: left;
  }

  .price_sectn {
    width: 140px;
  }

  .fare_left_section {
    width: 240px;
  }

  .fare_right_section {
    width: 308px;
  }

  .change_flight_txt.hidden-xs {
    display: block !important;
    float: left;
  }

  .change_flight .itineary_departure {
    width: 90px;
  }

  .change_flight .itineary_price {
    width: 100px;
  }

  .change_flight .change_flight_txt {
    width: 120px;
  }
}

/*---- Offer rules ---*/

.offer {
  background: #e4fbfa;
  min-height: 800px;
  text-align: center;
  font-size: 14px;
  padding: 10px 0;
}

.make_block {
  display: inline-block;
}

.make_blockElm {
  display: block;
}

/*----- Glyhicon Icons Override as per our Theme -----*/

.active-star {
  color: #fdd000;
}

.inactive-star {
  color: #c0c0c0;
}

.map-red {
  color: #cb3904;
}

/*----- General and Override Rules to make it as matched with our theme ----------*/

/*----- General and Override Rules to make it as matched with our theme ----------*/

.form-control:focus {
  border-color: #fece00;
  outline: 0;
  -webkit-box-shadow: inset 1px 1px 0 rgba(254, 206, 0, 0.75), 1px 1px 0 rgba(254, 206, 0, 0.75);
  box-shadow: inset 1px 1px 0 rgba(254, 206, 0, 0.75), 1px 1px 0 rgba(254, 206, 0, 0.75);
}

.form-control {
  color: #2f2f2f;
}

.modal-header {
  border-bottom: 1px solid #e5e5e5;
  padding: 0 12px;
}

.modal-body {
  padding: 0 15px;
  position: relative;
}

.paddTB15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.modal-footer {
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .modal-dialog {
    width: 500px;
  }

  .modal-dialog.intersitial_ovrlay {
    width: 560px;
  }

  .flexi_calendar .modal-dialog {
    width: 740px;
  }

  .flexi_calendar .modal-header {
    border-bottom: solid 1px #cecece;
    padding-bottom: 5px;
    margin-bottom: 20px;
  }

  .modal-dialog.addons_ovrlay {
    width: 700px;
  }
}

.tooltip-inner {
  background-color: #c9c9c9;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #c9c9c9;
}

.tooltip.right .tooltip-arrow {
  border-right-color: #c9c9c9;
}

.tooltip.left .tooltip-arrow {
  border-left-color: #c9c9c9;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #c9c9c9;
}

/*--- icon bar [ Hamberger Switch Bar ] ---*/

.icon-bar-wrap {
  width: 16px;
  margin-top: 3px;
  display: inline-block;
}

.icon-bar-wrap .icon-bar {
  display: block;
  height: 2px;
  border-radius: 1px;
}

.icon-bar-wrap .icon-bar+.icon-bar {
  margin-top: 2px;
}

.icon-bar-wrap .icon-bar {
  background-color: #828282;
}

/*--- [ Segmented ] buttons ---*/

/*.segmented_btn{ border:solid 1px #d4d4d4; border-right:0; padding:13px 8px; background:#fff; display:block; text-align:center; height:45px; color:#2f2f2f; }*/

.segmented_btn {
  border: solid 1px #d4d4d4;
  border-right: 0;
  line-height: 33px;
  background: #fff;
  display: block;
  text-align: center;
  height: 35px;
  color: #2f2f2f;
}

.segmented_btn:hover {
  text-decoration: none;
  color: #2f2f2f;
}

.segmented_btn.first {
  border-left: solid 1px #d4d4d4;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
}

.segmented_btn.last {
  border-right: solid 1px #d4d4d4;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
}

.segmented_btn.active {
  border-bottom: 4px solid #fdd000;
}

/*--- Segmented controls [ Toggle Buttons ] ---*/

.segmented_controls {
  border-collapse: separate;
  display: table;
  position: relative;
  padding: 0;
}

.segmented_controls a {
  border-radius: 4px;
  color: #555555;
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
  width: 1%;
  padding: 6px 12px;
  text-align: center;
  line-height: 1;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
}

.segmented_controls,
.segmented_controls .form-control {
  display: table-cell;
  width: 100%;
  font-size: 15px;
  vertical-align: middle;
}

.segmented_controls a,
.segmented_controls .form-control {
  display: table-cell;
}

.segmented_controls .form-control {
  margin-bottom: 0;
  width: 100%;
  border: 0;
  box-shadow: none;
  border-radius: 0;
  font-weight: bold;
}

.segmented_controls.form-control {
  box-shadow: none;
}

/*--- /Segmented controls [ Toggle Buttons ] ---*/

/*--- Underlined tabs section ---*/

.underlined_tabs {
  border-bottom: 1px solid #dddcda;
}

.underlined_tabs li {
  float: left;
  text-align: center;
  text-transform: uppercase;
}

.underlined_tabs li a {
  font-size: 14px;
  line-height: 14px;
  padding-bottom: 8px;
}

.underlined_tabs li a.active {
  font-weight: bold;
  color: #878f9b;
  border-bottom: 4px solid #fdce00;
  color: #878f9b;
}

/*--- /Underlined tabs section ---*/
/*---- Sprite sharing classes ----*/

.close_overlay {
  background: url("../images/flight_listing_sprite.png") no-repeat;
  font-size: 0px;
}

/*------ Interstitial General Cases ------ */

.overlay_cases_wrapper {
  background: #000;
  padding: 10px;
}

.overlay_cases {
  background: #e5e5e5;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 3px;
}

.overlay_popup_white {
  background: #fff;
}

.overlay_heading {
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

.overlay_heading_normalCase {
  font-size: 16px;
  text-transform: none;
  text-align: center;
  margin-bottom: 10px;
}

.overlay_cases .close_overlay,
.modal-header .close_overlay {
  background-position: -48px -35px;
  width: 16px;
  height: 15px;
  margin-top: 3px;
  font-size: 20px;
}

.overlay_subhead {
  font-size: 14px;
  line-height: 14px;
}

.overlay_cart_messages {
  font-size: 14px;
}

.verification_link_msg {
  font-size: 11px;
}

/*------ /Interstitial General Cases ------ */