<!-- city selector -->
<!-- styles for city selector -->
<link rel="stylesheet" type="text/css" href="css/city_selector.css" />
<!-- /styles for modify search -->

  <!-- visible only in Mobile [ Search selector div ]-->
<div class="container">
  <div class="search_selector clearfix">
  		<div class="col-xs-12">
        		<div class="city_sel_top">
                    <p class="city_heading">From:</p>
                    <form role="form">
                        <input type="text" placeholder="Select City" class="input-md form-control" /> 
                    </form>
                </div>
                
                <!-- top city scroll -->
                <div class="top_cities_scroll">
                            <ul class="top_cities_list">
                            	<li class="top_cities_heading text-right">Top Cities</li>
                                <li><a href="#">New Delhi, India (DEL)</a></li>
                                <li><a href="#">Mumbai, India (BOM)</a></li>
                                <li><a href="#">Bangalore, India (BLR)</a></li>
                                <li><a href="#">Goa, India (GOI)</a></li>
                                <li><a href="#">New Delhi, India (DEL)</a></li>
                                <li><a href="#">Mumbai, India (BOM)</a></li>
                                <li><a href="#">Bangalore, India (BLR)</a></li>
                                <li><a href="#">Goa, India (GOI)</a></li>
                                <li><a href="#">New Delhi, India (DEL)</a></li>
                                <li><a href="#">Mumbai, India (BOM)</a></li>
                                <li><a href="#">Bangalore, India (BLR)</a></li>
                                
                                <li class="top_cities_heading text-right">Other Cities</li>
                                
                                <li><a href="#">Goa, India (GOI)</a></li>
                                <li><a href="#">New Delhi, India (DEL)</a></li>
                                <li><a href="#">Mumbai, India (BOM)</a></li>
                                <li><a href="#">Bangalore, India (BLR)</a></li>
                                <li><a href="#">Goa, India (GOI)</a></li>
                                <li><a href="#">New Delhi, India (DEL)</a></li>
                                <li><a href="#">Mumbai, India (BOM)</a></li>
                                <li><a href="#">Bangalore, India (BLR)</a></li>
                                <li><a href="#">Goa, India (GOI)</a></li>
                                <li><a href="#">New Delhi, India (DEL)</a></li>
                                <li><a href="#">Mumbai, India (BOM)</a></li>
                                <li><a href="#">Bangalore, India (BLR)</a></li>
                                <li><a href="#">Goa, India (GOI)</a></li>
                                <li><a href="#">New Delhi, India (DEL)</a></li>
                                <li><a href="#">Mumbai, India (BOM)</a></li>
                                <li><a href="#">Bangalore, India (BLR)</a></li>
                                <li><a href="#">Goa, India (GOI)</a></li>
                            </ul>
                </div>
                <!-- /top city scroll -->
        </div>
 </div>
 <!-- <div class="clearfix">&#160;</div> -->
  <!-- /visible only in Mobile [ Search selector div ]-->
</div><!-- /city selector -->