 <!-- Date-Price-Carousel -->
    <div class="clearfix append_bottom10 hidden-xs visible-stb">
        <div class="col-xs-10 col-md-10 col-sm-9 all_flt_tabs">
            <ul class="clearfix underlined_tabs">
                <li class="col-md-2 col-sm-2 col-xs-2">
                    <p class="row">
                        <a href="#" class="active make_blockElm">All Flights</a>
                    </p>
                </li>
                <li class="col-md-2 col-sm-3 col-xs-3">
                    <p class="row">
                        <a class="make_blockElm" href="#">TOP (<span class="INR">Rs.</span> 67,490) </a>
                    </p>
                </li>
                <li class="col-md-3 col-sm-3 col-xs-3">
                    <p class="row">
                        <a class="make_blockElm" href="#">Fastest (<span class="INR">Rs.</span> 67,490) </a>
                    </p>
                </li>
                <li class="col-md-3 col-sm-4 col-xs-4">
                    <p class="row">
                        <a class="make_blockElm" href="#">Recommended (<span class="INR">Rs.</span> 67,490) </a>
                    </p>
                </li>                                
            </ul>
         </div>
        <!-- Fare calendar button -->
          <a href="javascript:void(0);" class="pull-right btn btn-md btn-secondary fare_calendar_btn hidden-xs visible-stb"> <span class="glyphicon glyphicon-calendar pull-left"></span> <span class="pull-left marL5">Fare Calender</span> </a>
        <!-- /Fare calendar button -->
	</div>    <!-- /Date-Price-Carousel -->      
    <!-- Date-Price-Carousel -->
    <!-- styles for filters -->
<link rel="stylesheet" type="text/css" href="css/date_price_carousel.css" />
<!-- /styles for filters -->
<!-- Date-Price-Carousel -->
<div class="jcarousel-wrapper append_bottom20 clearfix hidden-xs visible-stb">
  <div class="row">
    <!-- Carousel -->
    <div class="jcarousel date_price">
      <ul>
        <li> <a href="#" class="pull-left popover_trigger_airlineTT" rel="popover" data-placement="bottom"> <span class="block airine_name">Malaysia Airlines</span> <span class="block flght_information clearfix"> <span class="pull-left intl_logo"><img src="images/malaysian_airline.gif" alt="malaysian" /></span> <span class="pull-left"> <span class="intl_pricetxt block"><span class="INR">Rs.</span> 1,69,516</span> <span class="intl_stoptxt block text-left">(1 Stop)</span> </span> </span> </a> </li>
        <li> <a href="#" class="pull-left active popover_trigger_airlineTT" rel="popover" data-placement="bottom"> <span class="block airine_name">Malaysia Airlines</span> <span class="block flght_information clearfix"> <span class="pull-left intl_logo"><img src="images/malaysian_airline.gif" alt="malaysian" /></span> <span class="pull-left"> <span class="intl_pricetxt block"><span class="INR">Rs.</span> 1,69,516</span> <span class="intl_stoptxt block text-left">(1 Stop)</span> </span> </span> </a> </li>
        <li> <a href="#" class="pull-left"> <span class="block airine_name">Malaysia Airlines</span> <span class="block flght_information clearfix"> <span class="pull-left intl_logo"><img src="images/malaysian_airline.gif" alt="malaysian" /></span> <span class="pull-left"> <span class="intl_pricetxt block"><span class="INR">Rs.</span> 1,69,516</span> <span class="intl_stoptxt block text-left">(1 Stop)</span> </span> </span> </a> </li>
        <li> <a href="#" class="pull-left"> <span class="block airine_name">Malaysia Airlines</span> <span class="block flght_information clearfix"> <span class="pull-left intl_logo"><img src="images/malaysian_airline.gif" alt="malaysian" /></span> <span class="pull-left"> <span class="intl_pricetxt block"><span class="INR">Rs.</span> 1,69,516</span> <span class="intl_stoptxt block text-left">(1 Stop)</span> </span> </span> </a> </li>
        <li> <a href="#" class="pull-left"> <span class="block airine_name">Malaysia Airlines</span> <span class="block flght_information clearfix"> <span class="pull-left intl_logo"><img src="images/malaysian_airline.gif" alt="malaysian" /></span> <span class="pull-left"> <span class="intl_pricetxt block"><span class="INR">Rs.</span> 1,69,516</span> <span class="intl_stoptxt block text-left">(1 Stop)</span> </span> </span> </a> </li>
        <li> <a href="#" class="pull-left"> <span class="block airine_name">Malaysia Airlines</span> <span class="block flght_information clearfix"> <span class="pull-left intl_logo"><img src="images/malaysian_airline.gif" alt="malaysian" /></span> <span class="pull-left"> <span class="intl_pricetxt block"><span class="INR">Rs.</span> 1,69,516</span> <span class="intl_stoptxt block text-left">(1 Stop)</span> </span> </span> </a> </li>
        <li> <a href="#" class="pull-left"> <span class="block airine_name">Malaysia Airlines</span> <span class="block flght_information clearfix"> <span class="pull-left intl_logo"><img src="images/malaysian_airline.gif" alt="malaysian" /></span> <span class="pull-left"> <span class="intl_pricetxt block"><span class="INR">Rs.</span> 1,69,516</span> <span class="intl_stoptxt block text-left">(1 Stop)</span> </span> </span> </a> </li>
        <li> <a href="#" class="pull-left"> <span class="block airine_name">Malaysia Airlines</span> <span class="block flght_information clearfix"> <span class="pull-left intl_logo"><img src="images/malaysian_airline.gif" alt="malaysian" /></span> <span class="pull-left"> <span class="intl_pricetxt block"><span class="INR">Rs.</span> 1,69,516</span> <span class="intl_stoptxt block text-left">(1 Stop)</span> </span> </span> </a> </li>
        <li> <a href="#" class="pull-left"> <span class="block airine_name">Malaysia Airlines</span> <span class="block flght_information clearfix"> <span class="pull-left intl_logo"><img src="images/malaysian_airline.gif" alt="malaysian" /></span> <span class="pull-left"> <span class="intl_pricetxt block"><span class="INR">Rs.</span> 1,69,516</span> <span class="intl_stoptxt block text-left">(1 Stop)</span> </span> </span> </a> </li>
        <li> <a href="#" class="pull-left"> <span class="block airine_name">Malaysia Airlines</span> <span class="block flght_information clearfix"> <span class="pull-left intl_logo"><img src="images/malaysian_airline.gif" alt="malaysian" /></span> <span class="pull-left"> <span class="intl_pricetxt block"><span class="INR">Rs.</span> 1,69,516</span> <span class="intl_stoptxt block text-left">(1 Stop)</span> </span> </span> </a> </li>
        <li> <a href="#" class="pull-left"> <span class="block airine_name">Malaysia Airlines</span> <span class="block flght_information clearfix"> <span class="pull-left intl_logo"><img src="images/malaysian_airline.gif" alt="malaysian" /></span> <span class="pull-left"> <span class="intl_pricetxt block"><span class="INR">Rs.</span> 1,69,516</span> <span class="intl_stoptxt block text-left">(1 Stop)</span> </span> </span> </a> </li>
        <li> <a href="#" class="pull-left"> <span class="block airine_name">Malaysia Airlines</span> <span class="block flght_information clearfix"> <span class="pull-left intl_logo"><img src="images/malaysian_airline.gif" alt="malaysian" /></span> <span class="pull-left"> <span class="intl_pricetxt block"><span class="INR">Rs.</span> 1,69,516</span> <span class="intl_stoptxt block text-left">(1 Stop)</span> </span> </span> </a> </li>
        <li> <a href="#" class="pull-left"> <span class="block airine_name">Malaysia Airlines</span> <span class="block flght_information clearfix"> <span class="pull-left intl_logo"><img src="images/malaysian_airline.gif" alt="malaysian" /></span> <span class="pull-left"> <span class="intl_pricetxt block"><span class="INR">Rs.</span> 1,69,516</span> <span class="intl_stoptxt block text-left">(1 Stop)</span> </span> </span> </a> </li>
      </ul>
    </div>
    <!-- Prev/next controls -->
    <a href="#" class="jcarousel-control-prev"></a> <a href="#" class="jcarousel-control-next"></a> </div>
</div>
<!-- /Date-Price-Carousel -->


                    <!-- tooltip -->
                    <div id="popover_tooltip_airline" class="popover_tooltip_airline hide">
                    	<div style="width:250px;">
	                        <p class="border_bottom popover_subhead">
                            	<img src="images/malaysian_airline.gif" alt="Malaysian airline" /> Malaysia Airlines <a href="#" class="close_overlay pull-right"></a></p>
                            
                            <p class="clearfix append_bottom15">
                            	<span class="onward_flticon pull-left"><!-- FF and Opera --></span>
                                <span class="popover_flt_info pull-left">
                                	<strong class="make_blockElm popover_time append_bottom_4">04:10</strong>
                                    <span class="popover_sector ligght_gray">New Delhi</span>
                                </span>
                                <span class="popover_flt_info pull-left">
                                	<strong class="make_blockElm popover_time append_bottom_4">04:10</strong>
                                    <span class="popover_sector ligght_gray">London</span>
                                </span>                                
                            </p>
                            
                            <p class="clearfix append_bottom15">
                            	<span class="return_flticon pull-left"><!-- FF and Opera --></span>
                                <span class="popover_flt_info pull-left">
                                	<strong class="make_blockElm popover_time append_bottom_4">04:10</strong>
                                    <span class="popover_sector ligght_gray">New Delhi</span>
                                </span>
                                <span class="popover_flt_info pull-left">
                                	<strong class="make_blockElm popover_time append_bottom_4">04:10</strong>
                                    <span class="popover_sector ligght_gray">London</span>
                                </span>                                
                            </p>
                            
                            <p class="popover_viewall_flts">
                            	<a href="#">View all flights</a>
                            </p>         
                        </div>
                    </div>
                    <!-- /tooltip -->
                    
                    
	<script type="text/javascript">
    <!--
    $(function()
               {
                    $('.popover_trigger_airlineTT').popover({
						animation:true,	  
                        trigger: 'click',
                        content:setPopoverAirlineHTML,
                        html:true,
						container:'body'
                    });
               });
    
    var setPopoverAirlineHTML = function(a)
    {
		$('.popover_trigger_airlineTT').popover("hide"); // hide all default opened Popovers
        return $("#popover_tooltip_airline").html();
    }
	
	//stopPropogation() operation 
	$(".popover_trigger_airlineTT").on("click", function(e){ 
													stopPropogation(e);
																		e.preventDefault();
											   });
    //-->
    </script>                        <!-- /Date-Price-Carousel -->