      <!-- Filter -->
      <!-- styles for filters -->
<link rel="stylesheet" type="text/css" href="css/filter_common.css" />
<!-- /styles for filters -->

<div id="filters_panel" class="col-lg-3 col-md-3 col-xs-12 hidden-sm hidden-stb hidden-xs">
    <!-- slider area -->
    <div class="rows">
        <span class="filter_tip"></span>
        <!-- filters heading -->
<p class="filters_heading clearfix">
	<span class="pull-left"><span class="pull-left">Filter</span><span class="hidden-xs pull-left">&nbsp;Your Search</span></span>
    <!-- [ Visible in Mobile and Tablets ] -->
    <a class="pull-right visible-sm visible-xs clear_btn" href="#">Reset All</a>
    <!-- /[ Visible in Mobile and Tablets ] -->
    <a href="#" class="pull-right hidden-sm hidden-xs hidden-stb">Reset All</a>
</p>
<!-- /filters heading -->

  <!-- filter subdivistion [ Near by Airports ] -->
 <div class="filter_subdivisions nearby_airports">
    <p class="append_bottom10 clearfix">
    	<strong class="filters_subhead pull-left">Nearby Airports</strong>
        <!-- [ Visible in Mobile and Tablets ] -->
        <a class="pull-right visible-sm visible-xs clear_btn" href="#">Clear</a>
        <!-- /[ Visible in Mobile and Tablets ] -->
        <a href="#" class="pull-right hidden-sm hidden-xs hidden-stb">Clear</a>
    </p>
    <div class="checkbox append_bottom3 col-xs-12 clearfix">
        <span class="pull-left airline_info">
            <span class="make_blockElm nearby_airport_name">Addis Ababa (ADD)</span>
        </span>
        <span class="checkbox_state pull-right"></span>
        <input type="checkbox" class="pull-right"> 
    </div>
    <div class="checkbox append_bottom3 col-xs-12 clearfix">
        <span class="pull-left airline_info">
            <span class="make_blockElm nearby_airport_name">Addis Ababa (ADD)</span>
        </span>
        <span class="checkbox_state pull-right"></span>
        <input type="checkbox" class="pull-right"> 
    </div>    
  </div>
  <!-- /filter subdivistion [ Near by Airports ] -->
  
  <!-- filter subdivistion [ No. of Stops ] -->
 <div class="filter_subdivisions stops_info append_bottom20" style="border-bottom:0;">
    <p class="append_bottom10 clearfix">
    	<strong class="filters_subhead pull-left">No. of Stops</strong>
        <!-- [ Visible in Mobile and Tablets ] -->
        <a class="pull-right visible-sm visible-xs clear_btn" href="#">All</a>
        <!-- /[ Visible in Mobile and Tablets ] -->
        <a href="#" class="pull-right hidden-sm hidden-xs hidden-stb">All</a>
    </p>
    <div class="star_ratinginfo clearfix">
        <a href="#" class="pull-left rating_sectn">
            <span class="stop_text make_blockElm">0 <sub>stop</sub></span>
            <span class="make_blockElm price"><span class="INR">Rs.</span> 7,894</span>
        </a>
        <a href="#" class="pull-left rating_sectn active">
            <span class="stop_text make_blockElm">1 <sub>stop</sub></span>
            <span class="make_blockElm price"><span class="INR">Rs.</span> 11,400</span>
        </a>
        <a href="#" class="pull-left rating_sectn disabled last">
            <span class="stop_text make_blockElm">1+ <sub>stop</sub></span>
            <span class="make_blockElm price"><span class="INR">Rs.</span> 14,265</span>
        </a>
    </div>
  </div>
  <!-- /filter subdivistion [ No. of Stops ] -->
  
  <!-- underlined tabs -->
    <ul class="clearfix underlined_tabs append_bottom16">
    	<li class="col-xs-6">
        	<p class="row">
	        	<a class="active make_blockElm" href="#">Departure</a>
            </p>
        </li>
    	<li class="col-xs-6">
        	<p class="row">
	        	<a href="#" class="make_blockElm">Arrival</a>
            </p>
        </li>
    </ul>
  <!-- /underlined tabs -->
  
  <!-- filter subdivistion [ Departure Time ] -->
 <div class="departure_timings">
    <p class="append_bottom10 clearfix">
    	<strong class="pull-left light_gray">From BLR</strong>
        <!-- [ Visible in Mobile and Tablets ] -->
        <a class="pull-right visible-sm visible-xs clear_btn" href="#">Clear</a>
        <!-- /[ Visible in Mobile and Tablets ] -->
        <a href="#" class="pull-right hidden-sm hidden-xs hidden-stb">Clear</a>
    </p>
    <div class="star_ratinginfo append_bottom8 clearfix">
        <a href="#" class="pull-left rating_sectn">
            <span class="make_blockElm morning_icon"></span>
            <span class="make_blockElm filter_dep_time">12AM-6AM</span>
            <span class="make_blockElm price"><span class="INR">Rs.</span> 14,265</span>
        </a>
        <a href="#" class="pull-left rating_sectn active">
            <span class="make_blockElm noon_icon"></span>
            <span class="make_blockElm filter_dep_time">6AM-12PM</span>
            <span class="make_blockElm price"><span class="INR">Rs.</span> 7,894</span>
        </a>
        <a href="#" class="pull-left rating_sectn disabled">
            <span class="make_blockElm evening_icon"></span>
            <span class="make_blockElm filter_dep_time">12PM-6PM</span>
            <span class="make_blockElm price"><span class="INR">Rs.</span> 7,894</span>
        </a>
        <a href="#" class="pull-left rating_sectn last">
            <span class="make_blockElm night_icon"></span>
            <span class="make_blockElm filter_dep_time">6PM-12AM</span>
            <span class="make_blockElm price"><span class="INR">Rs.</span> 12,176</span>
        </a>
    </div>
  </div>
  <!-- /filter subdivistion [ Departure Time ] -->  
  
  <!-- filter subdivistion [ Arrival Time ] -->
 <div class="filter_subdivisions departure_timings">
    <p class="append_bottom10 clearfix">
    	<strong class="pull-left light_gray">From LON</strong>
        <!-- [ Visible in Mobile and Tablets ] -->
        <a class="pull-right visible-sm visible-xs clear_btn" href="#">Clear</a>
        <!-- /[ Visible in Mobile and Tablets ] -->
        <a href="#" class="pull-right hidden-sm hidden-xs hidden-stb">Clear</a>
    </p>
    <div class="star_ratinginfo clearfix">
        <a href="#" class="pull-left rating_sectn">
            <span class="make_blockElm morning_icon"></span>
            <span class="make_blockElm filter_dep_time">12AM-6AM</span>
            <span class="make_blockElm price"><span class="INR">Rs.</span> 14,265</span>
        </a>
        <a href="#" class="pull-left rating_sectn active">
            <span class="make_blockElm noon_icon"></span>
            <span class="make_blockElm filter_dep_time">6AM-12PM</span>
            <span class="make_blockElm price"><span class="INR">Rs.</span> 7,894</span>
        </a>
        <a href="#" class="pull-left rating_sectn disabled">
            <span class="make_blockElm evening_icon"></span>
            <span class="make_blockElm filter_dep_time">12PM-6PM</span>
            <span class="make_blockElm price"><span class="INR">Rs.</span> 7,894</span>
        </a>
        <a href="#" class="pull-left rating_sectn last">
            <span class="make_blockElm night_icon"></span>
            <span class="make_blockElm filter_dep_time">6PM-12AM</span>
            <span class="make_blockElm price"><span class="INR">Rs.</span> 12,176</span>
        </a>
    </div>
  </div>
  <!-- /filter subdivistion [ Arrival Time ] -->      

  <!-- filter subdivistion -->
     <div class="filter_subdivisions filter_price">
        <p class="append_bottom10 clearfix">
                <strong class="filters_subhead pull-left">Price Range</strong>
                <!-- [ Visible in Mobile and Tablets ] -->
                <a class="pull-right visible-sm visible-xs clear_btn" href="#">Clear</a>
                <!-- /[ Visible in Mobile and Tablets ] -->
                <a href="#" class="pull-right hidden-sm hidden-xs hidden-stb">Clear</a>
        </p>
        
        <div class="price_borderbox col-xs-12">
            <!-- slider prices area -->
            <p class="clearfix append_bottom16">
                    <span class="price_text pull-left">
                        <span class="INR">Rs.</span>
                        <span id="min_price">2500</span>
                    </span>
                    <span class="price_text pull-right">
                        <span class="INR">Rs.</span>
                        <span id="max_price"></span>
                    </span>
            </p>
            <!-- /slider prices area -->
             
             <!-- price slider -->
                 <div id="price_slider"></div>
             <!-- /price slider -->
         </div>
         
		  <!-- show refundable -->
        <div class="checkbox show_refundable_cbrwapper append_bottom6 col-xs-12 clearfix">
            <span class="checkbox_state pull-left"></span>
            <input type="checkbox" class="pull-left"> 

            <span class="pull-left airline_info">
                <span class="make_blockElm airline_name show_refundable_txt light_gray">Show only refundabel fares.</span>
            </span>
        </div>          
          <!-- /show refundable -->         
     </div>
<!-- /filter subdivistion -->
  
  <!-- filter subdivistion [ Airlines ]-->
   <div class="filter_subdivisions">
        <p class="append_bottom10 clearfix">
            <strong class="filters_subhead pull-left">Airlines</strong>
            <!-- [ Visible in Mobile and Tablets ] -->
            <a class="pull-right visible-sm visible-xs clear_btn" href="#">Clear</a>
            <!-- /[ Visible in Mobile and Tablets ] -->
            <a href="#" class="pull-right hidden-sm hidden-xs hidden-stb">Clear</a>
        </p>        
        
            <div class="checkbox append_bottom3 col-xs-12 clearfix">
                    <span class="pull-left airline_image"><img src="images/airline/spicejet_intl.jpg" alt="" /></span>
                    <span class="pull-left airline_info">
                        <span class="make_blockElm airline_name append_bottom4">Air India</span>
                        <span class="airline_price"><span class="INR">Rs.</span> 29,785 <span class="type_select">onwards</span></span>
                    </span>
                    <span class="checkbox_state pull-right"></span>
                    <input type="checkbox" class="pull-right" /> 
            </div> 
            <div class="checkbox append_bottom3 col-xs-12 clearfix">
                    <span class="pull-left airline_image"><img src="images/airline/airindia_intl.jpg" alt="" /></span>
                    <span class="pull-left airline_info">
                        <span class="make_blockElm airline_name append_bottom4">Air India</span>
                        <span class="airline_price"><span class="INR">Rs.</span> 29,785 <span class="type_select">onwards</span></span>
                    </span>
                    <span class="checkbox_state pull-right"></span>
                    <input type="checkbox" class="pull-right" /> 
            </div> 
            <div class="checkbox append_bottom3 col-xs-12 clearfix">
                    <span class="pull-left airline_image"><img src="images/airline/spicejet_intl.jpg" alt="" /></span>
                    <span class="pull-left airline_info">
                        <span class="make_blockElm airline_name append_bottom4">Air India</span>
                        <span class="airline_price"><span class="INR">Rs.</span> 29,785 <span class="type_select">onwards</span></span>
                    </span>
                    <span class="checkbox_state pull-right"></span>
                    <input type="checkbox" class="pull-right" /> 
            </div> 
            <div class="checkbox append_bottom6 col-xs-12 clearfix">
                    <span class="pull-left airline_image"><img src="images/airline/airindia_intl.jpg" alt="" /></span>
                    <span class="pull-left airline_info">
                        <span class="make_blockElm airline_name append_bottom4">Air India</span>
                        <span class="airline_price"><span class="INR">Rs.</span> 29,785 <span class="type_select">onwards</span></span>
                    </span>
                    <span class="checkbox_state pull-right"></span>
                    <input type="checkbox" class="pull-right" /> 
            </div> 
			<p><a href="#" class="show_allairlines">Show all 12 Airlines</a></p>
   </div>
  <!-- /filter subdivistion [ Airlines ] -->

  <!-- filter subdivistion [ Connecting Airports ] -->
 <div class="filter_subdivisions nearby_airports connecting_airports">
    <p class="append_bottom10 clearfix">
    	<strong class="filters_subhead pull-left">Connecting Airports</strong>
        <!-- [ Visible in Mobile and Tablets ] -->
        <a class="pull-right visible-sm visible-xs clear_btn" href="#">Clear</a>
        <!-- /[ Visible in Mobile and Tablets ] -->
        <a href="#" class="pull-right hidden-sm hidden-xs hidden-stb">Clear</a>
    </p>
    <div class="checkbox append_bottom3 col-xs-12 clearfix">
        <span class="pull-left airline_info">
            <span class="make_blockElm nearby_airport_name">Addis Ababa (ADD)</span>
        </span>
        <span class="checkbox_state pull-right"></span>
        <input type="checkbox" class="pull-right"> 
    </div>
    <div class="checkbox append_bottom3 col-xs-12 clearfix">
        <span class="pull-left airline_info">
            <span class="make_blockElm nearby_airport_name">Addis Ababa (ADD)</span>
        </span>
        <span class="checkbox_state pull-right"></span>
        <input type="checkbox" class="pull-right"> 
    </div>
    <div class="checkbox append_bottom3 col-xs-12 clearfix">
        <span class="pull-left airline_info">
            <span class="make_blockElm nearby_airport_name">Addis Ababa (ADD)</span>
        </span>
        <span class="checkbox_state pull-right"></span>
        <input type="checkbox" class="pull-right"> 
    </div>  
    <div class="checkbox append_bottom6 col-xs-12 clearfix">
        <span class="pull-left airline_info">
            <span class="make_blockElm nearby_airport_name">Addis Ababa (ADD)</span>
        </span>
        <span class="checkbox_state pull-right"></span>
        <input type="checkbox" class="pull-right"> 
    </div>
    <p><a href="#" class="show_allairlines">Show all 12 Airlines</a></p>       
  </div>
  <!-- /filter subdivistion [ Connecting Airports ] -->    </div>
    <!-- /slider area -->
</div>


<script type="text/javascript">
<!--
$(function()
		   {
			   if($("#filters_panel").is(":visible") == true)
			   {
				   $("#filters_panel").css("width",$("#filters_panel").outerWidth() - 1);  // Less right border width..
				   
				   $("#filters_panel").stick_in_parent({'inner_scrolling':true})
						.on("sticky_kit:stick", function(e) {
															$("#filters_panel").parent("div.sticky_wrapper").css("float","left");
						})
						.on("sticky_kit:unstick", function(e) {
														   $("#filters_panel").parent("div.sticky_wrapper").css("float","left");
						});
			   }
		   });

$(document.body).trigger("sticky_kit:recalc");
// -->
</script>      <!-- /Filter -->