<div ng-include src="'/international/raw/templates/listing/mobile_header.html'"></div>
<div ng-include src="'/international/raw/templates/listing/city_selector_mobile_header.html'"></div>
<!-- Content -->
<div id="content" style="padding: 10px 0;">
	<!-- Content-Container -->
	<div class="container">
		<div ng-include src="'/international/raw/templates/listing/modify_search.html'"></div>
		<div ng-include src="'/international/raw/templates/listing/date_price_carousel.html'"></div>
		<!-- Content-Row -->
		<div class="row">
			<div ng-include src="'/international/raw/templates/listing/filters.html'"></div>
			<div ng-include src="'/international/raw/templates/listing/recList.html'"></div>
		</div>
		<!-- /Content-Row -->
		<div ng-include src="'/international/raw/templates/listing/flexiCalendar.html'"></div>
	</div>
	<!-- /Container-Content -->
</div>
<!-- /Content -->
<div ng-include src="'/international/raw/templates/listing/footer.html'"></div>