
<!-- styles for filters -->
<link rel="stylesheet" type="text/css" href="css/listing_common.css" />
<!-- /styles for filters -->
<!-- Listing-Row -->
<div class="clearfix listing_row append_bottom8  shadow_genrator_1">
	<!-- Listing-Top -->
	<div class="listing_top clearfix">
		<p class="append_bottom10 clearfix">
			<!-- Logo -->
			<span class="col-xs-6 logo_sectioninfo"> <span class="pull-left"><img src="images/malaysian_airline.gif" alt="malaysian" class="img-responsive" /></span>
				<!-- Logo-Name --> <span class="logo_intl_name pull-left">Malaysia Airlines</span> <!-- /Logo-Name -->
			</span>
			<!-- /Logo -->
			<!-- Price-Info -->
			<span class="col-xs-6 pull-right text-right"> <span class="slashed_price"><span class="INR">Rs.</span>17,578</span>&nbsp;&nbsp; <span
				class="price_info"><span class="INR">Rs.</span> 5,55,576</span>
			</span>
			<!-- Price-Info -->
		</p>
		<p class="clearfix">
			<!-- Mobile-Intl-Info -->
			<span class="col-xs-5"> <span class="block"><strong>16 Jul, 04:10</strong></span> <span class="block stop_city_info">Banglore</span>
			</span>
			<!-- /Mobile-Intl-Info -->
			<!-- Mobile-Intl-Info -->
			<span class="col-xs-4 row"> <span class="block"><strong>16 Jul, 04:10</strong></span> <span class="block stop_city_info">London</span>
			</span>
			<!-- /Mobile-Intl-Info -->
			<!-- Mobile-Intl-Info -->
			<span class="col-xs-3 text-right pull-right"> <span class="block"><strong>02h 25m</strong></span> <span class="block stop_city_info">Non-Stop</span>
			</span>
			<!-- /Mobile-Intl-Info -->
		</p>
	</div>
	<!-- /Listing-Top -->
	<!-- Flight-Message -->
	<div class="flight_message col-xs-12 clearfix">
		<p class="col-xs-12 airport_message append_bottom10">This flight is for nearby airport messaging.</p>
	</div>
	<!-- /Flight-Message -->
	<!-- Listing-Bottom -->
	<div class="listing_bottom clearfix">
		<!-- Deal-Section -->
		<div class="deal_section col-xs-12">
			<span class="deal_icon pull-left">DEALS</span> <span class="deal_txt pull-left">Select this flight &amp; get <span class="INR">Rs.</span> <strong>2942</strong>
				off on your trip.
			</span>
		</div>
		<!-- /Deal-Section -->
	</div>
	<!-- /Listing-Bottom -->
</div>
<!-- /Listing-Row -->