<!-- Listing-Top -->
			<div class="listing_top clearfix">
				<!-- Logo -->
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 logo_section">
					<span class="block append_bottom3"><img src="images/malaysian_airline.gif" alt="malaysian" /></span> <span
						class="block logo_name append_bottomSpace6 hidden-xs visible-stb" ng-bind-html-unsafe="{{airlineInfo[recGroup[0].refAirline[0].code].name | wrapInMultipleLines}}">
					</span>
				</div>
				<!-- /Logo -->
				<!-- International-Flight-Details -->
				<div class="intl_flightdetails col-lg-7 col-md-7 col-sm-7 col-xs-7">
					<!-- City-Names -->
					<p class="city_names append_bottom6 clearfix">
						<span class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Banglore</span> <span class="col-lg-4 col-md-5 col-sm-5 col-xs-5"><span class="arrow_denotion"></span></span>
						<span class="col-lg-5 col-md-4 col-sm-4 col-xs-4">Chicago</span>
					</p>
					<!-- /City-Names -->
					<!-- Flight-Timing-Wrapper -->
					<div class="flight_timing_wrapper col-xs-12 append_bottom16 clearfix">
						<!-- Flight-Timing -->
						<p class="flight_timing append_bottom6 clearfix">
							<!-- Intl-Time -->
							<span class="intl_time col-lg-4 col-md-4 col-sm-4 col-xs-4"> <input type="radio" name="date" class="radio_bttn" checked="checked" /> <strong>16
									Jul, 4:10</strong>
							</span>
							<!-- /Intl-Time -->
							<!-- Stop-Time-Info -->
							<span class="stop_time_info col-lg-4 col-md-5 col-sm-5 col-xs-5 row">02h 25 | Non stop</span>
							<!-- /Stop-Time-Info -->
							<!-- Intl-Time -->
							<span class="intl_time last col-lg-3 col-md-4 col-sm-4 col-xs-3"><strong>16 Jul, 4:10</strong></span>
							<!-- /Intl-Time -->
						</p>
						<!-- /Flight-Timimg -->
						<!-- Flight-Timing -->
						<p class="flight_timing no_bg clearfix">
							<!-- Intl-Time -->
							<span class="intl_time col-lg-4 col-md-4 col-sm-4 col-xs-4"> <input type="radio" name="date" class="radio_bttn" /> <strong>16 Jul, 4:10</strong>
							</span>
							<!-- /Intl-Time -->
							<!-- Stop-Time-Info -->
							<span class="stop_time_info col-lg-4 col-md-5 col-sm-5 col-xs-5 row">02h 25 | Non stop</span>
							<!-- /Stop-Time-Info -->
							<!-- Intl-Time -->
							<span class="intl_time last col-lg-3 col-md-4 col-sm-4 col-xs-3"><strong>16 Jul, 4:10</strong></span>
							<!-- /Intl-Time -->
						</p>
						<!-- /Flight-Timimg -->
					</div>
					<!-- /Flight-Timing-Wrapper -->
					<!-- City-Names -->
					<p class="city_names append_bottom6 clearfix">
						<span class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Banglore</span> <span class="col-lg-4 col-md-5 col-sm-5 col-xs-5"><span class="arrow_denotion"></span></span>
						<span class="col-lg-5 col-md-4 col-sm-4 col-xs-4">Chicago</span>
					</p>
					<!-- /City-Names -->
					<!-- Flight-Timing-Wrapper -->
					<div class="flight_timing_wrapper col-xs-12 clearfix">
						<!-- Flight-Timing -->
						<p class="flight_timing append_bottom6 clearfix">
							<!-- Intl-Time -->
							<span class="intl_time col-lg-4 col-md-4 col-sm-4 col-xs-4"> <input type="radio" name="date" class="radio_bttn" checked="checked" /> <strong>16
									Jul, 4:10</strong>
							</span>
							<!-- /Intl-Time -->
							<!-- Stop-Time-Info -->
							<span class="stop_time_info col-lg-4 col-md-5 col-sm-5 col-xs-5 row">02h 25 | Non stop</span>
							<!-- /Stop-Time-Info -->
							<!-- Intl-Time -->
							<span class="intl_time last col-lg-3 col-md-4 col-sm-4 col-xs-3"><strong>16 Jul, 4:10</strong></span>
							<!-- /Intl-Time -->
						</p>
						<!-- /Flight-Timimg -->
						<!-- Flight-Timing -->
						<p class="flight_timing no_bg append_bottom6 clearfix">
							<!-- Intl-Time -->
							<span class="intl_time col-lg-4 col-md-4 col-sm-4 col-xs-4"> <input type="radio" name="date" class="radio_bttn" /> <strong>16 Jul, 4:10</strong>
							</span>
							<!-- /Intl-Time -->
							<!-- Stop-Time-Info -->
							<span class="stop_time_info col-lg-4 col-md-5 col-sm-5 col-xs-5 row">02h 25 | Non stop</span>
							<!-- /Stop-Time-Info -->
							<!-- Intl-Time -->
							<span class="intl_time last col-lg-3 col-md-4 col-sm-4 col-xs-3"><strong>16 Jul, 4:10</strong></span>
							<!-- /Intl-Time -->
						</p>
						<!-- /Flight-Timimg -->
						<!-- More-Flight-Options -->
						<div class="more_flight_options" style="display: none;">
							<!-- Flight-Timing -->
							<p class="flight_timing no_bg append_bottom6 clearfix">
								<!-- Intl-Time -->
								<span class="intl_time col-lg-4 col-md-4 col-sm-4 col-xs-4"> <input type="radio" name="date" class="radio_bttn" /> <strong>16 Jul, 4:10</strong>
								</span>
								<!-- /Intl-Time -->
								<!-- Stop-Time-Info -->
								<span class="stop_time_info col-lg-4 col-md-5 col-sm-5 col-xs-5 row">02h 25 | Non stop</span>
								<!-- /Stop-Time-Info -->
								<!-- Intl-Time -->
								<span class="intl_time last col-lg-3 col-md-4 col-sm-4 col-xs-3"><strong>16 Jul, 4:10</strong></span>
								<!-- /Intl-Time -->
							</p>
							<!-- /Flight-Timimg -->
							<!-- Flight-Timing -->
							<p class="flight_timing no_bg append_bottom6 clearfix">
								<!-- Intl-Time -->
								<span class="intl_time col-lg-4 col-md-4 col-sm-4 col-xs-4"> <input type="radio" name="date" class="radio_bttn" /> <strong>16 Jul, 4:10</strong>
								</span>
								<!-- /Intl-Time -->
								<!-- Stop-Time-Info -->
								<span class="stop_time_info col-lg-4 col-md-5 col-sm-5 col-xs-5 row">02h 25 | Non stop</span>
								<!-- /Stop-Time-Info -->
								<!-- Intl-Time -->
								<span class="intl_time last col-lg-3 col-md-4 col-sm-4 col-xs-3"><strong>16 Jul, 4:10</strong></span>
								<!-- /Intl-Time -->
							</p>
							<!-- /Flight-Timimg -->
						</div>
						<!-- /More-Flight-Options -->
						<p class="clearfix col-xs-12 more_optiontxt">
							<a href="#"><span class="more_drp_icn">&nbsp;</span>2 more options</a>
						</p>
					</div>
					<!-- /Flight-Timing-Wrapper -->
				</div>
				<!-- /International-Flight-Details -->
				<!-- International-Flight-Details -->
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 text-right intl_flght_details row">
					<p class="reward_point reward_point_mobileStb text-left">Earn 50 points &amp; 20000 miles</p>
					<p class="clearfix open_icon_markwrapper text-left">
						<a href="#" class="flight_details_link">Flight Details</a> <a class="open_icon_mark make_block" href="#"></a>
					</p>
				</div>
				<!-- /International-Flight-Details -->
				<!-- Discount -->
				<div class="col-lg-2 col-md-2 col-sm-2 hidden-xs pull-right round_dscnt hidden-stb">
					<p class="slashed_price text-right">
						<span class="INR">Rs.</span> 17, 578
					</p>
					<p class="price_info RobotoRegular text-right">
						<span class="INR">Rs.</span> 555, 576
					</p>
					<p class="clearfix">
						<a class="btn btn-md select_button btn-primary-red block" href="#">Book</a>
					</p>
				</div>
				<!-- /Discount -->
				<!-- Discount -->
				<a href="#" class="pull-right next_icon hidden-lg hidden-md hidden-sm hidden-xs"><img src="images/arrow_icon.png" alt="arrow-icon" /></a>
				<!-- Discount -->
			</div>
			<!-- /Listing-Top -->
			<!-- Flight-Message -->
			<div class="flight_message col-xs-12 clearfix">
				<p class="col-xs-12 airport_message append_bottom8">This flight is for nearby airport messaging.</p>
			</div>
			<!-- /Flight-Message -->
			<!-- Listing-Bottom -->
			<div class="listing_bottom clearfix hidden-xs">
				<!-- Deal-Section -->
				<div class="deal_section col-lg-6 col-md-6 col-sm-6">
					<span class="deal_icon pull-left">DEALS</span> <span class="deal_txt pull-left">Select this flight &amp; get <span class="INR">Rs.</span> <strong>2942</strong>
						off on your trip.
					</span>
				</div>
				<!-- /Deal-Section -->
			</div>
			<!-- /Listing-Bottom -->
			<!-- Main-Div -->
			<div class="clearfix main-div second_active" style="display: none;">
				<a href="#" class="main_div_closeicon"></a>
				<!-- Itinerary-Fare-Tab -->
				<div class="itinerary_fare_tab clearfix append_bottom15">
					<div class="wrapper_tab clearfix col-lg-10 col-md-10 col-sm-8 col-xs-11">
						<a href="itinerary_tabdata" class="row segmented_btn list_view_btn first pull-left active">&nbsp;ITINERARY</a> <a href="fare_tabdata"
							class="row segmented_btn map_view_btn pull-left"> &nbsp;FARE DETAILS</a> <a href="baggage_tabdata" class="row segmented_btn map_view_btn pull-left">
							&nbsp;BAGGAGE</a><a href="amenities_tabdata" class="row segmented_btn map_view_btn last pull-left"> &nbsp;AMENITIES</a>
					</div>
				</div>
				<!-- /Itinerary-Fare-Tab -->
				<!-- Itineary -->
				<div class="itinerary_tabdata tabs_data_info">
					<div class="col-lg-12 append_bottom12 clearfix">
						<span class="itineary_dateinfo col-lg-10 col-md-10 col-sm-10 col-xs-8 row">Jaipur to Bangkok <span class="light_gray">(14h 15m)</span>
						</span> <span class="col-lg-2 col-md-2 col-sm-2 col-xs-3 refundable_txt pull-right">REFUNDABLE</span>
					</div>
					<!-- Itinerary-Sectional-Info -->
					<div class="itineary_sectional_info append_bottom20 col-lg-12 row">
						<!-- Logo-Part -->
						<div class="itineary_logo col-lg-3 col-md-3 col-sm-3 col-xs-3">
							<!-- Logo-Section -->
							<span class="logoitnry_section pull-left"><img src="images/malaysian_airline.gif" alt="malaysian" /></span>
							<!-- /Logo-Section -->
							<!-- Logo-Text -->
							<span class="logo_txt pull-left"> <span class="block flght_name">Malaysia Airlines</span> <span class="block fligh_number">SG-851</span> <span
								class="block fligh_number">Airbus A330-300</span></span>
							<!-- /Logo-Text -->
						</div>
						<!-- /Logo-Part -->
						<!-- Itineary-Departure -->
						<div class="itineary_departure col-lg-3 col-md-3 col-sm-3 col-xs-3">
							<span class="block time"><strong>16 Jul, 11:10</strong></span> <span class="block itnry_cityname">Banglore (BLR)</span> <span class="block city_name">Terminal
								2</span>
						</div>
						<!-- /Itineary-Departure -->
						<!-- Itineary-Arrow -->
						<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
							<span class="itineary_arrow pull-left"></span>
						</div>
						<!-- /Itineary-Arrow -->
						<!-- Itineary-Arrival -->
						<div class="itineary_departure col-lg-3 col-md-3 col-sm-2 col-xs-3">
							<span class="block time"><strong>16 Jul, 11:10</strong></span> <span class="block itnry_cityname">Banglore (BLR)</span> <span class="block city_name">Terminal
								2</span>
						</div>
						<!-- /Itineary-Arrival -->
						<!-- Itineary-Duration -->
						<div class="itineary_duration col-lg-2 col-md-2 col-sm-3 col-xs-2">
							<span class="block time">1h 45m</span> <span class="block itnry_cityname">1 Stop</span> <span class="block city_name">Economy</span>
						</div>
						<!-- /Itineary-Duration -->
					</div>
					<!-- /Itinerary-Sectional-Info -->
					<!-- Extra-Info -->
					<p class="extra_info cleafix append_bottom20 col-xs-12">
						<span class="extra_spprticn">&nbsp;</span>There will be a Technical Stopover!
					</p>
					<!-- /Extra-Info -->
					<!-- Stop-Section-Wrapper -->
					<div class="col-xs-12">
						<!-- Stop-Section -->
						<p class="stop_section clearfix col-xs-12 append_bottom20">
							<span class="stop_textinfo"><span class="change_intl_flticon">&nbsp;</span> Change of planes at New Delhi &nbsp; | &nbsp; <span
								class="intl_time_flticon">&nbsp;</span> Connection Time : 10hr 50min</span>
						</p>
						<!-- /Stop-Section -->
					</div>
					<!-- /Stop-Section-Wrapper -->
					<!-- Itinerary-Sectional-Info -->
					<div class="itineary_sectional_info append_bottom20 col-lg-12 row">
						<!-- Logo-Part -->
						<div class="itineary_logo col-lg-3 col-md-3 col-sm-3 col-xs-3">
							<!-- Logo-Section -->
							<span class="logoitnry_section pull-left"><img src="images/malaysian_airline.gif" alt="malaysian" /></span>
							<!-- /Logo-Section -->
							<!-- Logo-Text -->
							<span class="logo_txt pull-left"> <span class="block flght_name">Malaysia Airlines</span> <span class="block fligh_number">SG-851</span> <span
								class="block fligh_number">Airbus A330-300</span></span>
							<!-- /Logo-Text -->
						</div>
						<!-- /Logo-Part -->
						<!-- Itineary-Departure -->
						<div class="itineary_departure col-lg-3 col-md-3 col-sm-3 col-xs-3">
							<span class="block time"><strong>16 Jul, 11:10</strong></span> <span class="block itnry_cityname">Banglore (BLR)</span> <span class="block city_name">Terminal
								2</span>
						</div>
						<!-- /Itineary-Departure -->
						<!-- Itineary-Arrow -->
						<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
							<span class="itineary_arrow pull-left"></span>
						</div>
						<!-- /Itineary-Arrow -->
						<!-- Itineary-Arrival -->
						<div class="itineary_departure col-lg-3 col-md-3 col-sm-2 col-xs-3">
							<span class="block time"><strong>16 Jul, 11:10</strong></span> <span class="block itnry_cityname">Banglore (BLR)</span> <span class="block city_name">Terminal
								2</span>
						</div>
						<!-- /Itineary-Arrival -->
						<!-- Itineary-Duration -->
						<div class="itineary_duration col-lg-2 col-md-2 col-sm-3 col-xs-2">
							<span class="block time">1h 45m</span> <span class="block itnry_cityname">1 Stop</span> <span class="block city_name">Economy</span>
						</div>
						<!-- /Itineary-Duration -->
					</div>
					<!-- /Itinerary-Sectional-Info -->
				</div>
				<!-- /Itineary -->
				<!-- Fare-Details -->
				<div class="fare_details clearfix fare_tabdata tabs_data_info">
					<!-- Fare-Rules -->
					<div class="fare_rules clearfix">
						<!-- Fare-Left-Section -->
						<div class="fare_left_section pull-left col-lg-4 col-md-5 col-sm-5 col-xs-12">
							<p class="total_base clearfix fare_bottm_brder">
								<span class="pull-left">Fare Breakup</span>
							</p>
							<p class=" clearfix fare_txt append_bottom6">
								<span class="pull-left"><strong>Base Fare :</strong></span>
							</p>
							<p class="clearfix fare_txt fare_border RobotoRegular append_bottom5">
								<span class="pull-left">2 Adult(s) (2 X 15679) </span> <span class="pull-right"><span class="INR">Rs.</span> 3,140</span>
							</p>
							<p class="clearfix fare_txt fare_border RobotoRegular append_bottom5">
								<span class="pull-left">1 Child(s) (1 X 10,423)</span> <span class="pull-right"><span class="INR">Rs.</span> 3,140</span>
							</p>
							<p class="clearfix fare_txt RobotoRegular append_bottom20">
								<span class="pull-left">1 Infant(s) (1 X 1,374) </span> <span class="pull-right"><span class="INR">Rs.</span> 3,140</span>
							</p>
							<p class=" clearfix fare_txt append_bottom6">
								<span class="pull-left"><strong>Taxes :</strong></span>
							</p>
							<p class="clearfix fare_txt fare_border RobotoRegular append_bottom5">
								<span class="pull-left">2 Adult(s) (2 X 15679) </span> <span class="pull-right"><span class="INR">Rs.</span> 3,140</span>
							</p>
							<p class="clearfix fare_txt fare_border RobotoRegular append_bottom5">
								<span class="pull-left">1 Child(s) (1 X 10,423)</span> <span class="pull-right"><span class="INR">Rs.</span> 3,140</span>
							</p>
							<p class="clearfix fare_txt RobotoRegular append_bottom16">
								<span class="pull-left">1 Infant(s) (1 X 1,374) </span> <span class="pull-right"><span class="INR">Rs.</span> 3,140</span>
							</p>
							<p class="grand_total clearfix">
								<span class="pull-left">GRAND TOTAL</span><span class="pull-right"><span class="INR"> Rs.</span> 17,140</span>
							</p>
						</div>
						<!-- /Fare-Left-Section -->
						<!-- Fare-Right-Section -->
						<div class="fare_right_section pull-left col-lg-8 col-md-7 col-sm-7">
							<p class="total_base clearfix fare_bottm_brder">
								<span class="pull-left">Fare Rules</span>
							</p>
							<p class=" clearfix fare_txt append_bottom6">
								<span class="pull-left"><strong>Cancellation fee <span class="light_gray">(per passenger)</span> :
								</strong></span>
							</p>
							<!-- Fare-Table-Section -->
							<table cellpadding="0" cellspacing="0" class="fare_table_section append_bottom5" width="100%">
								<tbody>
									<tr class="heading">
										<th width="20%">Sector</th>
										<th width="55%">Airline Fee</th>
										<th width="25%">Makemytrip Fee</th>
									</tr>
									<tr>
										<td>DEL - BKK</td>
										<td><p>A. 10 days or more = 1555*</p>
											<p>B. Between 9 to 24 hrs = 2225*</p>
											<p>C. Less than 24hr only govt. taxes will be refunded</p></td>
										<td><p>
												<span class="INR">Rs.</span> 1500
											</p></td>
									</tr>
								</tbody>
							</table>
							<!-- /Fare-Table-Section -->
							<p class="penalty_txt append_bottom20">* All charges are prior to schehuled departure of the flight</p>
							<p class=" clearfix fare_txt append_bottom6">
								<span class="pull-left"><strong>Date change fee <span class="light_gray">(per passenger)</span> :
								</strong></span>
							</p>
							<!-- Fare-Table-Section -->
							<table cellpadding="0" cellspacing="0" class="fare_table_section append_bottom5" width="100%">
								<tbody>
									<tr class="heading">
										<th width="20%">Sector</th>
										<th width="55%">Airline Fee</th>
										<th width="25%">Makemytrip Fee</th>
									</tr>
									<tr>
										<td>DEL - BKK</td>
										<td><p>Refundable*</p></td>
										<td><p>
												<span class="INR">Rs.</span> 1500
											</p></td>
									</tr>
								</tbody>
							</table>
							<!-- /Fare-Table-Section -->
							<p class="penalty_txt">* All charges are prior to schehuled departure of the flight</p>
						</div>
						<!-- /Fare-Right-Section -->
					</div>
					<!-- /Fare-Rules -->
				</div>
				<!-- Fare-Details -->
				<!-- Baggage-Data -->
				<div class="baggage_tabdata tabs_data_info clearfix">
					<div class="bagage_detls_info clearfix">
						<!-- Check-In-Baggage -->
						<div class="check_in_baggage col-lg-6 col-md-6 col-sm-6">
							<p class="total_base clearfix">
								<span class="pull-left">Check-in Baggage :</span>
							</p>
							<!-- Fare-Table-Section -->
							<table cellpadding="0" cellspacing="0" class="fare_table_section append_bottom5" width="100%">
								<tbody>
									<tr class="heading">
										<th width="30%">Sector / Flight</th>
										<th width="23%">Adult</th>
										<th width="23%">Child</th>
										<th width="23%">Infant</th>
									</tr>
									<tr>
										<td>DEL - BKK A1332</td>
										<td><p>20 kgs</p></td>
										<td><p>20 kgs</p></td>
										<td><p>20 kgs</p></td>
									</tr>
								</tbody>
							</table>
							<!-- /Fare-Table-Section -->
							<p class="penalty_txt">* Special baggage messaging goes here.</p>
						</div>
						<!-- /Check-In-Baggage -->
						<!-- Cabin-Baggage -->
						<div class="check_in_baggage col-lg-6 col-md-6 col-sm-6">
							<p class="total_base clearfix">
								<span class="pull-left">Check-in Baggage :</span>
							</p>
							<!-- Fare-Table-Section -->
							<table cellpadding="0" cellspacing="0" class="fare_table_section append_bottom5" width="100%">
								<tbody>
									<tr class="heading">
										<th width="30%">Sector / Flight</th>
										<th width="23%">Adult</th>
										<th width="23%">Child</th>
										<th width="23%">Infant</th>
									</tr>
									<tr>
										<td>DEL - BKK A1332</td>
										<td><p>20 kgs</p></td>
										<td><p>20 kgs</p></td>
										<td><p>20 kgs</p></td>
									</tr>
								</tbody>
							</table>
							<!-- /Fare-Table-Section -->
							<p class="penalty_txt">* Special baggage messaging goes here.</p>
						</div>
						<!-- /Cabin-Baggage -->
					</div>
					<!-- Sepration-Baggage -->
					<div class="sepration_info col-xs-12 append_bottom8 clearfix">
						<p class="bagage_seprationinfo">&nbsp;</p>
					</div>
					<!-- /Sepration-Baggage -->
					<p class="col-xs-12 baggage_txt">The information presented above is as obtained from the airline reservation system. MakeMyTrip does not guarantee the
						accuracy of this information. The baggage allowance may vary according to stop-overs, connecting flights and changes in airline rules</p>
				</div>
				<!-- /Baggage-Data -->
				<!-- Amenities-Data -->
				<div class="amenities_tabdata tabs_data_info col-xs-12 clearfix">
					<!-- Fare-Table-Section -->
					<table cellpadding="0" cellspacing="0" class="fare_table_section append_bottom5" width="100%">
						<tbody>
							<tr class="heading">
								<th width="12%">Sector</th>
								<th width="12%">In-Flight entertainment</th>
								<th width="12%">Meals &amp; beverages</th>
								<th width="12%">Alcoholic beverages</th>
								<th width="12%">Seat pitch &amp; width</th>
								<th width="12%">Power Outle</th>
								<th width="12%">Infant care</th>
								<th width="12%">In-flight connectivity</th>
							</tr>
							<tr>
								<td>DEL - BKK A1332</td>
								<td><p>Yes, personal audio and video</p></td>
								<td><p>Available on purchase</p></td>
								<td><p>Available on purchase</p></td>
								<td><p>Pitch: 30.0 in Width: 17.0 in</p></td>
								<td>NA</td>
								<td>Bassinet not available</td>
								<td>NA</td>
							</tr>
							<tr>
								<td>DEL - BKK A1332</td>
								<td><p>Yes, personal audio and video</p></td>
								<td><p>Available on purchase</p></td>
								<td><p>Available on purchase</p></td>
								<td><p>Pitch: 30.0 in Width: 17.0 in</p></td>
								<td>NA</td>
								<td>Bassinet not available</td>
								<td>NA</td>
							</tr>
						</tbody>
					</table>
					<!-- /Fare-Table-Section -->
					<p class="penalty_txt">* Not available on flights within India</p>
				</div>
				<!-- /Amenities-Data -->
			</div>
			<!-- Main-Div -->