
<!-- Main -->
<div class="main col-lg-9 col-md-9 col-sm-12 col-xs-12">
	<!-- MTR -->
	<div ng-include src="'/international/raw/templates/listing/mtr.html'"></div>
	<!-- /MTR -->
	
	<!-- General Promotion Bar -->
	<div class="general_promo_bar append_bottom16">General Promotion Message Bar</div>
	<!-- General Promotion Bar -->
	
	<div ng-include src="'/international/raw/templates/listing/recListTopInfo.html'"></div>
	
	<div ng-include src="'/international/raw/templates/listing/recListRow.html'"></div>
	
</div>
<!-- /Main -->

<div ng-include src="'/international/raw/templates/listing/moreOptionsForMobile.html'"></div>