<!-- mobile header -->
<!-- styles for mobile header -->
<link rel="stylesheet" type="text/css" href="css/mobile_header.css" />
<!-- /styles for mobile header -->

<!-- visible to [ Mobile ] only -->
<div id="header_mobile" class="hidden-lg hidden-md hidden-sm hidden-stb">
		<!-- icon bar -->
        <a class="icon-bar-wrap header_hamburger pull-left">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <!-- /icon bar -->
        <!-- modify search -->
        <a class="pull-left sectors_info">
        	<span class="make_blockElm modify_city_name">Delhi <span class="sector_seprator_mobile">&#8594;</span> Mumbai</span>
            <span class="make_blockElm time_details">2 ADULTS | 1 CHILD | 1 INFANT</span>
            <span class="modify_state pull-right"></span>
        </a>
        <!-- /modify search -->
        <!-- filter icon -->
        <a class="header_filter_handler pull-right text-center">
	        <span class="glyphicon glyphicon-filter"></span>
        </a>
        <!-- /filter icon -->
</div>
<!-- /visible to [ Mobile ] only --><!-- /mobile header -->