
<!-- more mobile popup -->
<link href="css/intersitial.css" rel="stylesheet">
<div class="modal fade more_mobile_popup" tabindex="-1" role="dialog" aria-labelledby="more_mobile_popup">
	<div class="modal-dialog">
		<!-- modal content -->
		<div class="modal-content overlay_cases">
			<!-- modal header -->
			<div class="modal-header">
				<p class="overlay_heading clearfix">
					Select Journey Time <a data-dismiss="modal" class="close_overlay pull-right" aria-hidden="true" href="#">&nbsp;</a>
				</p>
			</div>
			<!-- /modal header -->
			<!-- modal body -->
			<div class="modal-body">

				<p class="col-xs-12 clearfix sectnl_mobi_heading">
					<span class="pull-left"><span class="departure_icon pull-left">&nbsp;</span><span class="pull-left mobile_intlname">Delhi London</span></span> <span
						class="pull-right"><img src="images/malaysian_airline.gif" alt="airlinle" /></span>
				</p>

				<p class="clearfix mobile_row">
					<!-- Mobile-Intl-Info -->
					<span class="col-xs-5"> <span class="block"><strong>16 Jul, 04:10</strong></span> <span class="block stop_city_info">Banglore</span>
					</span>
					<!-- /Mobile-Intl-Info -->
					<!-- Mobile-Intl-Info -->
					<span class="col-xs-4 row"> <span class="block"><strong>16 Jul, 04:10</strong></span> <span class="block stop_city_info">London</span>
					</span>
					<!-- /Mobile-Intl-Info -->
					<!-- Mobile-Intl-Info -->
					<span class="col-xs-3 text-right pull-right"> <span class="block"><strong>02h 25m</strong></span> <span class="block stop_city_info">Non-Stop</span>
					</span>
					<!-- /Mobile-Intl-Info -->
				</p>
				<!-- Mobile-Sepration-Intl-Info -->
				<p class="mobile_sep_border">&nbsp;</p>
				<!-- /Mobile-Sepration-Intl-Info -->
				<p class="clearfix mobile_row">
					<!-- Mobile-Intl-Info -->
					<span class="col-xs-5"> <span class="block"><strong>16 Jul, 04:10</strong></span> <span class="block stop_city_info">Banglore</span>
					</span>
					<!-- /Mobile-Intl-Info -->
					<!-- Mobile-Intl-Info -->
					<span class="col-xs-4 row"> <span class="block"><strong>16 Jul, 04:10</strong></span> <span class="block stop_city_info">London</span>
					</span>
					<!-- /Mobile-Intl-Info -->
					<!-- Mobile-Intl-Info -->
					<span class="col-xs-3 text-right pull-right"> <span class="block"><strong>02h 25m</strong></span> <span class="block stop_city_info">Non-Stop</span>
					</span>
					<!-- /Mobile-Intl-Info -->
				</p>
				<!-- Mobile-Sepration-Intl-Info -->
				<p class="mobile_sep_border">&nbsp;</p>
				<!-- /Mobile-Sepration-Intl-Info -->
				<p class="clearfix mobile_row">
					<!-- Mobile-Intl-Info -->
					<span class="col-xs-5"> <span class="block"><strong>16 Jul, 04:10</strong></span> <span class="block stop_city_info">Banglore</span>
					</span>
					<!-- /Mobile-Intl-Info -->
					<!-- Mobile-Intl-Info -->
					<span class="col-xs-4 row"> <span class="block"><strong>16 Jul, 04:10</strong></span> <span class="block stop_city_info">London</span>
					</span>
					<!-- /Mobile-Intl-Info -->
					<!-- Mobile-Intl-Info -->
					<span class="col-xs-3 text-right pull-right"> <span class="block"><strong>02h 25m</strong></span> <span class="block stop_city_info">Non-Stop</span>
					</span>
					<!-- /Mobile-Intl-Info -->
				</p>
				<!-- Mobile-Sepration-Intl-Info -->
				<p class="mobile_sep_border append_bottom16">&nbsp;</p>
				<!-- /Mobile-Sepration-Intl-Info -->


				<p class="col-xs-12 clearfix sectnl_mobi_heading">
					<span class="pull-left"><span class="departure_icon pull-left">&nbsp;</span><span class="pull-left mobile_intlname">Delhi London</span></span> <span
						class="pull-right"><img src="images/malaysian_airline.gif" alt="airlinle" /></span>
				</p>

				<p class="clearfix mobile_row">
					<!-- Mobile-Intl-Info -->
					<span class="col-xs-5"> <span class="block"><strong>16 Jul, 04:10</strong></span> <span class="block stop_city_info">Banglore</span>
					</span>
					<!-- /Mobile-Intl-Info -->
					<!-- Mobile-Intl-Info -->
					<span class="col-xs-4 row"> <span class="block"><strong>16 Jul, 04:10</strong></span> <span class="block stop_city_info">London</span>
					</span>
					<!-- /Mobile-Intl-Info -->
					<!-- Mobile-Intl-Info -->
					<span class="col-xs-3 text-right pull-right"> <span class="block"><strong>02h 25m</strong></span> <span class="block stop_city_info">Non-Stop</span>
					</span>
					<!-- /Mobile-Intl-Info -->
				</p>
				<!-- Mobile-Sepration-Intl-Info -->
				<p class="mobile_sep_border">&nbsp;</p>
				<!-- /Mobile-Sepration-Intl-Info -->
				<p class="clearfix mobile_row">
					<!-- Mobile-Intl-Info -->
					<span class="col-xs-5"> <span class="block"><strong>16 Jul, 04:10</strong></span> <span class="block stop_city_info">Banglore</span>
					</span>
					<!-- /Mobile-Intl-Info -->
					<!-- Mobile-Intl-Info -->
					<span class="col-xs-4 row"> <span class="block"><strong>16 Jul, 04:10</strong></span> <span class="block stop_city_info">London</span>
					</span>
					<!-- /Mobile-Intl-Info -->
					<!-- Mobile-Intl-Info -->
					<span class="col-xs-3 text-right pull-right"> <span class="block"><strong>02h 25m</strong></span> <span class="block stop_city_info">Non-Stop</span>
					</span>
					<!-- /Mobile-Intl-Info -->
				</p>
				<!-- Mobile-Sepration-Intl-Info -->
				<p class="mobile_sep_border">&nbsp;</p>
				<!-- /Mobile-Sepration-Intl-Info -->
				<p class="clearfix mobile_row">
					<!-- Mobile-Intl-Info -->
					<span class="col-xs-5"> <span class="block"><strong>16 Jul, 04:10</strong></span> <span class="block stop_city_info">Banglore</span>
					</span>
					<!-- /Mobile-Intl-Info -->
					<!-- Mobile-Intl-Info -->
					<span class="col-xs-4 row"> <span class="block"><strong>16 Jul, 04:10</strong></span> <span class="block stop_city_info">London</span>
					</span>
					<!-- /Mobile-Intl-Info -->
					<!-- Mobile-Intl-Info -->
					<span class="col-xs-3 text-right pull-right"> <span class="block"><strong>02h 25m</strong></span> <span class="block stop_city_info">Non-Stop</span>
					</span>
					<!-- /Mobile-Intl-Info -->
				</p>
				<!-- Mobile-Sepration-Intl-Info -->
				<p class="mobile_sep_border append_bottom16">&nbsp;</p>
				<!-- /Mobile-Sepration-Intl-Info -->
				<p class="clearfix col-xs-12">
					<a href="#" class="btn btn-md btn-primary-red block">Continue</a>
				</p>

			</div>
			<!-- /modal body -->
		</div>
	</div>
	<!-- /modal content -->
</div>
<!-- /more mobile popup -->
