<!-- MTR -->
<!-- styles for MTR -->
<link rel="stylesheet" type="text/css" href="css/mtr.css" />
<!-- /styles for MTR -->
<div class="mtr_section clearfix append_bottom8 hidden-xs hidden-stb">
	<span class="mtr_logo pull-left"><img src="images/mtr_reward.png" alt="mtr" /></span> <span class="pull-left payback_icon"></span>
	<!-- [ Hidden in Mobile Only ] -->
	<span class="pull-left mtr_txt hidden-xs visible-stb"> Login to avail benefits &amp; saving of my trip rewards. </span>
	<!--/ [ Hidden in Mobile Only ] -->

	<a class="pull-right login_btn" href="#">Login</a>
</div>
<!-- /MTR -->